----- INCOME DISPLAY ---------------------------
header{
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(233,0,255,1) 0%, rgba(0,212,255,1) 100%);
    padding: 4rem;
}

h1{
    font-size: 5rem;
    margin: 0;
}